<template name="homeAbout">
<div>
   <h2>Silas</h2>
    <p>Django REST backend code: https://github.com/SilasX/CompassREST</p>

    Django REST implementation: http://compassangelhack.silasbarta.com/
</div>
    <div>
        <h2>Jason Cheung</h2>
        <p>https://github.com/JCheungX/CompassIOS/tree/master</p>

        JCheungX/CompassIOS,CompassIOS - Compass IOS App
    </div>
    <div>
        <h2>Tak</h2>
        <p>https://github.com/tsato1/Compass-Android</p>

    </div>
    <div>
        <h2>Madhvesh Navkal</h2>
        <p>Compass - WebApp</p>

    </div>
</template>